__pycache__/
GUI/__pycache__/
modules/__pycache__/
GUI/Carrito/__pycache__/
GUI/EscaneoQR/__pycache__/
GUI/InfoPasillo/__pycache__/
GUI/InfoProducto/__pycache__/
GUI/MainMenu/__pycache__/
.mypy_cache/
